<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smm</title>
    <link rel="stylesheet" href="../css/materialize/cus.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper news-page about-page" id="top">
    <div class="custom-style-menu content">
        <div class="toggle-menu">
            <span></span>
        </div>
        <nav id="menu-mobile" class="clearfix">
            <div class="container-mobile-menu">
                <div class="logo">
                    <a href="../index.html">
                        <div class="title-mobile-menu">
                            <h2>Smm<span><img src="../img/home/logo-mobile.png" alt="img-logo"></span></h2>
                            <div class="border"></div>
                            <h3>import-export <br>wholesale coffee</h3>
                        </div>
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="../view/about-company.html">Company <span class="border"></span></a></li>
                    <li><a href="../view/coffee-page.html">Coffee <span class="border"></span></a></li>
                    <li><a href="../view/partnership.html">Partnership <span class="border"></span></a></li>
                    <li><a href="../view/news-page.html">News <span class="border"></span></a></li>
                    <li><a href="../view/contact-page.html">Contacts <span class="border"></span></a></li>
                </ul>
                <div class="change-lang-container">
                    <span class="change-lang">Change language on:</span>
                    <a href="#" class="lang">EN</a>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="copyright">
                    <span>© 2016 all right reserved SMM.coffee</span>
                </div>
            </div>
        </nav>
        <nav id="nav" class="clearfix">
            <div class="container">
                <div class="logo">
                    <a href="../index.html">
                        <img src="../img/home/logo.png" alt="img-logo">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="../view/about-company.html">Company <span class="border"></span></a></li>
                    <li><a href="../view/coffee-page.html">Coffee <span class="border"></span></a></li>
                    <li><a href="../view/partnership.html">Partnership <span class="border"></span></a></li>
                    <li><a href="../view/news-page.html">News <span class="border"></span></a></li>
                    <li><a href="../view/contact-page.html">Contacts <span class="border"></span></a></li>
                </ul>
                <div class="account-block">
                    <a href="#" class="account" data-toggle="modal" data-target="#login">
                        <img src="../img/home/user-2.svg" alt="img-logo">
                        <span class="text">Account</span>
                        <span class="dotted"></span>
                    </a>
                    <a href="#" class="log-in " data-toggle="modal" data-target="#log-out">
                        <span>Log out</span>
                        <img src="../img/home/log-in.png" alt="img">
                    </a>
                </div>
            </div>
            <div class="container-modals">
                <div id="login" class="modal fade">
                    <div class="modal-style">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8">
                                    <div class="login-form-container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <h3 class="title-login">Please log in to use account tools:</h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                                <form class="form-login row">
                                                    <div class="form-group col-xs-4 col-sm-4">
                                                        <input type="email" class="form-control" placeholder="Email"
                                                               required>
                                                    </div>
                                                    <div class="form-group col-xs-4 col-sm-4">
                                                        <input type="password" class="form-control" placeholder="Password"
                                                               required>
                                                    </div>
                                                    <div class="form-group col-xs-2 col-sm-2">
                                                        <button type="submit" class="btn btn-default progress-on">Login
                                                        </button>
                                                    </div>
                                                </form>
                                                <a href="#" class="forgot-pass" data-dismiss="modal" data-toggle="modal" data-target="#new-pass">forgot
                                                    password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <h3 class="dont-account">I don't have account:</h3>
                                    <a href="#" class="register" data-dismiss="modal" data-toggle="modal"
                                       data-target="#registration">Register</a>
                                    <a href="#" data-dismiss="modal" class="close close-login"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="new-pass" class="modal fade">
                    <div class="modal-style">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8">
                                    <div class="login-form-container">
                                        <div class="row">
                                            <h3 class="title-login">To get new password please send your registered
                                                e-mail.</h3>
                                            <form class="form-login clearfix">
                                                <div class="form-group col-xs-7">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>
                                                <div class="form-group col-xs-4 col-sm-5">
                                                    <button type="submit" class="btn btn-default">Get new password</button>
                                                </div>
                                            </form>
                                            <a href="#" class="forgot-pass" data-dismiss="modal" data-toggle="modal" data-target="#login">back to Log in</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <h3 class="dont-account">I don't have account:</h3>
                                    <a href="#" class="register" data-dismiss="modal" data-toggle="modal"
                                       data-target="#registration">Register</a>
                                    <a href="#" data-dismiss="modal" class="close"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="registration" class="modal fade">
                    <div class="registration">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="back-login" data-dismiss="modal" data-toggle="modal" data-target="#login">
                                        <span class="glyphicon glyphicon-menu-left"></span> back to log in
                                    </a>
                                    <a href="#" data-dismiss="modal" class="close"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-register">
                                        <h2>Account registration</h2>
                                        <p><span class="alert-danger">*</span>This information we need from you in order to
                                            process your orders well</p>
                                    </div>
                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="col-sm-12">
                                            <div class="inform-text">
                                                <p>Personal information</p>
                                                <span class="border"></span>
                                            </div>
                                        </div>
                                        <div class="form-group  input-field col-sm-3">
                                            <select class="form-control">
                                                <option value="Signora">Signora</option>
                                                <option value="Signora">Signore</option>
                                            </select>
                                        </div>
                                        <div class="form-group input-field col-sm-8">
                                            <label for="first-name">First Name<span
                                                    class="alert-danger">*</span></label>
                                            <input id="first-name" type="text"
                                                   class="form-control" required>
                                            <span class="error">This is required</span>
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="last-name">Surname<span class="alert-danger">*</span></label>
                                            <input id="last-name" type="text" class="form-control" value="Player"
                                                   required>
                                            <span class="error">This is required</span>
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="e-mail">E-mail<span class="alert-danger">*</span></label>
                                            <input value="coffee.wholesale@gmail.com" id="e-mail" type="text"
                                                   class="form-control" required>
                                            <span class="error">Your E-mail will be attached to your account without the possibility of change</span>
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="Function">Function</label>
                                            <input id="Function" type="text" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="num">Phone number</label>
                                            <input id="num" type="number" min="0" class="form-control">
                                            <a href="#" class="add-phone add-phone-personal">+ add phone number</a>
                                        </div>
                                        <div class="form-group input-field col-sm-12 hidden-phone">
                                            <label for="num-2">Phone number-2</label>
                                            <input id="num-2" type="number" min="0" class="form-control">
                                            <a href="#" class="add-phone add-phone-personal-2">+ add phone number</a>
                                        </div>
                                        <div class="form-group input-field col-sm-12 hidden-phone-2">
                                            <label for="num-3">Phone number-3</label>
                                            <input id="num-3" type="number" min="0" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-12 ">
                                            <label for="Website-2">Website</label>
                                            <input id="Website-2" type="text" class="form-control">
                                            <a href="#" class="add-phone add-website-personal">+ add website</a>
                                        </div>
                                        <div class="form-group input-field col-sm-12 hidden-website">
                                            <label for="Website">Website-2</label>
                                            <input id="Website" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-12">
                                            <div class="inform-text company-title">
                                                <p>Company information</p>
                                                <span class="border"></span>
                                            </div>
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="registration-number">Company registration number</label>
                                            <input id="registration-number" type="text" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="Vat-number">Vat number<span
                                                    class="alert-danger">*</span></label>
                                            <input id="Vat-number" type="text" class="form-control" required>
                                            <span class="error">This is required</span>
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="Company-Name">Company Name</label>
                                            <input id="Company-Name" type="text" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="Company-E-mail">Company E-mail</label>
                                            <input id="Company-E-mail" type="email" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-4">
                                            <label for="Post-Code">Post Code</label>
                                            <input id="Post-Code" type="text" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-8">
                                            <label for="Adress">Adress</label>
                                            <input id="Adress" type="text" class="form-control">
                                            <a href="#" class="add-phone add-address-company">+ add address</a>
                                        </div>

                                        <div class="post-code hidden-post-code">
                                            <div class="form-group input-field col-sm-4">
                                                <label for="Post-Code-2">Post Code</label>
                                                <input id="Post-Code-2" type="text" class="form-control">
                                            </div>
                                            <div class="form-group input-field col-sm-8">
                                                <label for="Adress-2">Adress</label>
                                                <input id="Adress-2" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group input-field col-sm-12">
                                            <label for="number-company">Phone number</label>
                                            <input id="number-company" type="number" min="0" class="form-control">
                                            <a href="#" class="add-phone add-phone-2">+ add phone number</a>
                                        </div>
                                        <div class="form-group input-field col-sm-12 hidden-phone-company">
                                            <label for="number-company-2">Phone number-2</label>
                                            <input id="number-company-2" type="number" min="0" class="form-control">
                                            <a href="#" class="add-phone add-phone-3">+ add phone number</a>
                                        </div>
                                        <div class="form-group input-field col-sm-12 hidden-phone-company-3">
                                            <label for="number-company-3">Phone number-3</label>
                                            <input id="number-company-3" type="number" min="0" class="form-control">
                                        </div>
                                        <div class="form-group input-field col-sm-12">
                                            <label for="Website-company">Website</label>
                                            <input id="Website-company" type="text" class="form-control">
                                            <a href="#" class="add-phone add-website">+ add website</a>
                                        </div>
                                        <div class="form-group input-field col-sm-12 hidden-website-company">
                                            <label for="Website-company-2">Website-2</label>
                                            <input id="Website-company-2" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="to-get-email-container">
                                            <span class="get-email">l want to get mail with offers on:</span>

                                            <input id="person-email" type="checkbox" class="person-email" checked>
                                            <label class="custom-check" for="person-email"></label>
                                            <span class="person-email-text">Personal E-mail</span>

                                            <input id="company-email" type="checkbox" class="company-email">
                                            <label class="custom-check" for="company-email"></label>
                                            <span class="company-email-text">Company E-mail</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="container-submit">
                                            <input type="submit" class="register-button" value="Register">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="log-out" class="modal fade">
                    <div class="modal-style">
                        <h3>Do yoy ready want to log out?</h3>
                        <a href="#">Yes</a>
                        <a href="#" data-dismiss="modal">No</a>
                    </div>
                </div>
                <div id="settings-log-out" class="modal fade">
                    <div class="modal-style">
                        <div class="container-settings">
                            <div class="row">
                                <div class="col-sm-10 col-xs-12">
                                    <div class="setting-log-out-container clearfix">
                                        <h3>Account settings:</h3>

                                        <a data-toggle="tab" href="./view/account-settings.html#personal-company-info" target="_blank" class="personal-company-info">Personal\Company Info</a>

                                        <a data-toggle="tab" href="./view/account-settings.html#change-password" class="change-pass">Change Password</a>

                                        <a data-toggle="tab" href="./view/account-settings.html#items-wishlist" class="items-wishlist">Items Wishlist</a>

                                        <a data-toggle="tab" href="./view/account-settings.html#mailing-offers" class="mailling-offers">Mailing offers</a>

                                        <a data-toggle="tab" href="./view/account-settings.html#faq" class="faq">Faq</a>

                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="log-out-container">
                                        <a href="#" data-toggle="modal" data-target="#log-out" class="log-out">Log out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <header>
        <div class="shadow-block">
            <h2 class="title-about">News</h2>
        </div>
    </header>
    <div class="container-contacts">
        <div class="title-item">
            <span class="category-name">Blog\</span>
            <a href="#" class="category-description">Italian Best New Coffee of 2015 Wonderful Event</a>
        </div>
        <div class="item">
            <div class="item-description">
                <div class="item-img-container">
                    <img src="../img/news/news-item-2.jpg" class="img-item" alt="new-img">
                    <span class="data-news">12.03.15</span>
                </div>
                <div class="item-title">
                    <span class="border-right"></span>
                    <h4 class="">Italian Best New Coffee of 2015 Wonderful Event.</h4>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,eaque ipsa quae ab
                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis au Sed ut perspiciatis unde omnis iste natus <a href="#" class="smm-coffee">SMM.coffee</a> doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                </p>
            </div>
            <div class="from-coffee">
                <div class="img-container">
                    <img src="../img/news/news-item.jpg" alt="img-news">
                    <div class="shadow-block"></div>
                </div>
                <h5><span class="border-right"></span>1. Coffee from Italy</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt <a href="#" class="smm-coffee">SMM.coffee.</a>
                </p>
                <ul>
                    <li><span></span>Регистрация домена</li>
                    <li><span></span>Начало работы</li>
                    <li><span></span>Добавление в обзор на <a href="#" class="smm-coffee">SMM.coffee.</a></li>
                    <li><span></span>Изменение статуса.</li>
                </ul>
                <div class="tags-container">
                    <div class="tags">
                        <span class="tags">Tags:</span>
                        <a href="#">logistic,</a>
                        <a href="#">wholesale,</a>
                        <a href="#">beans,</a>
                        <a href="#">coffee</a>
                    </div>
                </div>
                <div class="social-container">
                    <div class="social">
                        <div class="sharing open-social"><i class="fa fa-share-alt" aria-hidden="true"></i>
                            <span class="hidden-social">
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </span>
                        </div>
                        <a href="#" class="like"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-news-container">
            <div class="title-last-news">
                <span class="last-news">Last news</span>
                <a href="../view/news-page.html">back to all news <span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
            <div class="items clearfix">
                <div class="item-default">
                    <div class="img-block">
                        <img src="../img/news/news-1.jpg" alt="img-news">
                        <span class="data-news">12.03.15</span>
                    </div>
                    <div class="description-block">
                        <h4>Italian Best New Coffee of 2015 Wonderful Event.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quisdolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullam... laboris nut
                            boris...</p>
                        <div class="like-and-repost">
                            <div class="sharing"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="hidden-social">
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </span>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="replay-back"><i class="fa fa-reply" aria-hidden="true"></i></a>
                        </div>
                        <div class="tags-container">
                            <span class="tags">Tags:</span>
                            <a href="#">logistic,</a>
                            <a href="#">wholesale,</a>
                            <a href="#">beans,</a>
                            <a href="#" class="active">coffee</a>
                        </div>
                    </div>
                </div>
                <div class="item-default">
                    <div class="img-block">
                        <img src="../img/news/news-2.jpg" alt="img-news">
                        <span class="data-news">12.03.15</span>
                    </div>
                    <div class="description-block">
                        <h4>Italian Best New Coffee of 2015 Wonderful Event.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quisdolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullam... laboris nut
                            boris...</p>
                        <div class="like-and-repost">
                            <div class="sharing open-social"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="hidden-social">
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </span>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="replay-back"><i class="fa fa-reply" aria-hidden="true"></i></a>
                        </div>
                        <div class="tags-container">
                            <span class="tags">Tags:</span>
                            <a href="#">logistic,</a>
                            <a href="#">wholesale,</a>
                            <a href="#">beans,</a>
                            <a href="#" class="active">coffee...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <a href="#top" class="back-top scroll"><img src="../img/home/back-top.png" alt="img-arrow">
        <span>back to top</span>
    </a>
    <span class="copyright-text">© 2016 all right reserved <a href="../index.html">
        <img src="../img/home/logo.png" alt="img-logo"></a> SMM. Wholesale coffee</span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/materialize/materialize.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/progress/js/mprogress.min.js"></script>
<script src="../js/smoothScroll.js"></script>
<script src="../js/common.js"></script>
</body>
</html>